In [106]:
import numpy as np
import pandas as pd

from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

from sklearn.decomposition import PCA

In [107]:
df = pd.read_csv('../Data_Cleaning/Data/gurgaon_properties_post_feature_selection_v3.csv').drop(columns=['store room', 'floor_category', 'balcony',"bathroom","servant room"])

In [108]:
df.head()

,property_type,sector,price,bedRoom,agePossession,built_up_area,furnishing_type,luxury_category
0,flat,sector 36,0.82,3.0,New Property,850.0,0.0,Low
1,flat,sector 89,0.95,2.0,New Property,1226.0,0.0,Low
2,flat,sohna road,0.32,2.0,New Property,1000.0,0.0,Low
3,flat,sector 92,1.60,3.0,Relatively New,1615.0,1.0,High
4,flat,sector 102,0.48,2.0,Relatively New,582.0,0.0,High

In [109]:
df['agePossession'] = df['agePossession'].replace({'Relatively New':'new', 'Moderately Old':'old', 'New Property' : 'new', 'Old Property' : 'old', 'Under Construction' : 'under construction'})

In [110]:
df.head()

,property_type,sector,price,bedRoom,agePossession,built_up_area,furnishing_type,luxury_category
0,flat,sector 36,0.82,3.0,new,850.0,0.0,Low
1,flat,sector 89,0.95,2.0,new,1226.0,0.0,Low
2,flat,sohna road,0.32,2.0,new,1000.0,0.0,Low
3,flat,sector 92,1.60,3.0,new,1615.0,1.0,High
4,flat,sector 102,0.48,2.0,new,582.0,0.0,High

In [111]:
df['property_type'] = df['property_type'].replace({'flat':0,'house':1})

In [112]:
df.head()

,property_type,sector,price,bedRoom,agePossession,built_up_area,furnishing_type,luxury_category
0,0,sector 36,0.82,3.0,new,850.0,0.0,Low
1,0,sector 89,0.95,2.0,new,1226.0,0.0,Low
2,0,sohna road,0.32,2.0,new,1000.0,0.0,Low
3,0,sector 92,1.60,3.0,new,1615.0,1.0,High
4,0,sector 102,0.48,2.0,new,582.0,0.0,High

In [113]:
df['luxury_category'] = df['luxury_category'].replace({'Low':0,'Medium':1, 'High':2})

In [114]:
df.head()

,property_type,sector,price,bedRoom,agePossession,built_up_area,furnishing_type,luxury_category
0,0,sector 36,0.82,3.0,new,850.0,0.0,0
1,0,sector 89,0.95,2.0,new,1226.0,0.0,0
2,0,sohna road,0.32,2.0,new,1000.0,0.0,0
3,0,sector 92,1.60,3.0,new,1615.0,1.0,2
4,0,sector 102,0.48,2.0,new,582.0,0.0,2

In [115]:
new_df = pd.get_dummies(df, columns=['sector', 'agePossession'], drop_first=True)

In [116]:
X = new_df.drop(columns=['price'])
y = new_df['price']

In [117]:
y_log = np.log1p(y)

In [118]:
y_log

0       0.598837
1       0.667829
2       0.277632
3       0.955511
4       0.392042
          ...
3549    0.314811
3550    1.945910
3551    0.470004
3552    2.803360
3553    1.022451
Name: price, Length: 3554, dtype: float64

In [119]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [120]:
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)

In [121]:
kfold = KFold(n_splits=10, shuffle=True, random_state=20)
scores = cross_val_score(LinearRegression(), X_scaled, y_log, cv=kfold, scoring='r2')

In [122]:
scores.mean(), scores.std()

(0.8396764828155492, 0.021080445673704262)

In [123]:
lr = LinearRegression()

In [124]:
lr.fit(X_scaled, y_log)

LinearRegression()

In [125]:
lr.coef_.shape

(110,)

In [126]:
coef_df = pd.DataFrame(lr.coef_.reshape(1, 110), columns=X.columns).stack().reset_index().drop(columns=['level_0']).rename(columns={'level_1':'feature',0:'coef'})

In [127]:
coef_df

                              feature      coef
0                       property_type  0.121879
1                             bedRoom  0.106892
2                       built_up_area  0.230820
3                     furnishing_type  0.015292
4                     luxury_category  0.016764
..                                ...       ...
105                  sector_sector 95 -0.031896
106                  sector_sector 99 -0.011171
107                 sector_sohna road -0.040403
108                 agePossession_old -0.011127
109  agePossession_under construction  0.010351

[110 rows x 2 columns]

In [128]:
import statsmodels.api as sm

X_with_const = sm.add_constant(X_scaled)
model = sm.OLS(y_log, X_with_const).fit()

In [129]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.854
Model:                            OLS   Adj. R-squared:                  0.849
Method:                 Least Squares   F-statistic:                     182.6
Date:                Mon, 04 Mar 2024   Prob (F-statistic):               0.00
Time:                        16:52:22   Log-Likelihood:                 446.38
No. Observations:                3554   AIC:                            -670.8
Df Residuals:                    3443   BIC:                             14.75
Df Model:                         110
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
const                                1.0464      0.004    287.709      0.000       1.039       1.054
property_type                        0.1219      0.005     22.444      0.000       0.111       0.133
bedRoom                              0.1069      0.005     20.419      0.000       0.097       0.117
built_up_area                        0.2308      0.005     45.305      0.000       0.221       0.241
furnishing_type                      0.0153      0.004      3.636      0.000       0.007       0.024
luxury_category                      0.0168      0.004      4.048      0.000       0.009       0.025
sector_gwal pahari                   0.0072      0.007      1.088      0.277      -0.006       0.020
sector_manesar                      -0.0224      0.008     -2.776      0.006      -0.038      -0.007
sector_sector 1                     -0.0063      0.005     -1.292      0.197      -0.016       0.003
sector_sector 10                     0.0021      0.005      0.428      0.669      -0.008       0.012
sector_sector 102                    0.0263      0.014      1.920      0.055      -0.001       0.053
sector_sector 103                   -0.0041      0.009     -0.452      0.651      -0.022       0.014
sector_sector 104                    0.0017      0.011      0.150      0.881      -0.020       0.023
sector_sector 105                   -0.0238      0.007     -3.448      0.001      -0.037      -0.010
sector_sector 106                    0.0031      0.009      0.356      0.722      -0.014       0.020
sector_sector 107                   -0.0183      0.011     -1.739      0.082      -0.039       0.002
sector_sector 108                    0.0144      0.010      1.382      0.167      -0.006       0.035
sector_sector 109                    0.0248      0.012      1.990      0.047       0.000       0.049
sector_sector 11                    -0.0200      0.006     -3.141      0.002      -0.032      -0.008
sector_sector 110                    0.0082      0.007      1.141      0.254      -0.006       0.022
sector_sector 111                    0.0176      0.007      2.489      0.013       0.004       0.031
sector_sector 112                    0.0320      0.007      4.437      0.000       0.018       0.046
sector_sector 113                    0.0297      0.009      3.239      0.001       0.012       0.048
sector_sector 12                    -0.0217      0.008     -2.650      0.008      -0.038      -0.006
sector_sector 13                    -0.0128      0.005     -2.379      0.017      -0.023      -0.002
sector_sector 14                     0.0247      0.007      3.727      0.000       0.012       0.038
sector_sector 15                     0.0009      0.005      0.192      0.848      -0.009       0.010
sector_sector 17                     0.0144      0.006      2.608      0.009       0.004       0.025
sector_sector 2                      0.0028      0.011      0.263      0.793      -0.018       0.024
sector_sector 21                    -0.0110      0.005     -2.277      0.023      -0.021      -0.002
sector_sector 22                     0.0341      0.007      4.980      0.000       0.021       0.047
sector_sector 23                 -9.166e-05      0.006     -0.015      0.988      -0.012       0.012
sector_sector 24                     0.0170      0.007      2.470      0.014       0.004       0.030
sector_sector 25                     0.0573      0.009      6.548      0.000       0.040       0.074
sector_sector 26                     0.0716      0.009      7.914      0.000       0.054       0.089
sector_sector 27                     0.0073      0.004      1.788      0.074      -0.001       0.015
sector_sector 28                     0.0408      0.009      4.603      0.000       0.023       0.058
sector_sector 3                     -0.0182      0.007     -2.480      0.013      -0.033      -0.004
sector_sector 30                     0.0052      0.005      1.107      0.269      -0.004       0.014
sector_sector 31                     0.0210      0.006      3.812      0.000       0.010       0.032
sector_sector 33                     0.0220      0.011      1.993      0.046       0.000       0.044
sector_sector 36                    -0.0024      0.007     -0.345      0.730      -0.016       0.011
sector_sector 37                    -0.0139      0.010     -1.398      0.162      -0.033       0.006
sector_sector 37d                   -0.0056      0.011     -0.517      0.605      -0.027       0.016
sector_sector 38                     0.0129      0.006      2.347      0.019       0.002       0.024
sector_sector 39                     0.0011      0.006      0.191      0.849      -0.010       0.012
sector_sector 4                     -0.0253      0.009     -2.679      0.007      -0.044      -0.007
sector_sector 40                     0.0064      0.005      1.375      0.169      -0.003       0.016
sector_sector 41                     0.0170      0.006      2.987      0.003       0.006       0.028
sector_sector 43                     0.0602      0.011      5.734      0.000       0.040       0.081
sector_sector 45                     0.0288      0.005      5.538      0.000       0.019       0.039
sector_sector 46                     0.0139      0.006      2.438      0.015       0.003       0.025
sector_sector 47                     0.0132      0.006      2.083      0.037       0.001       0.026
sector_sector 48                     0.0538      0.010      5.228      0.000       0.034       0.074
sector_sector 49                     0.0303      0.009      3.225      0.001       0.012       0.049
sector_sector 5                     -0.0221      0.007     -3.167      0.002      -0.036      -0.008
sector_sector 50                     0.0711      0.011      6.591      0.000       0.050       0.092
sector_sector 51                    -0.0021      0.005     -0.426      0.670      -0.012       0.008
sector_sector 52                     0.0028      0.006      0.458      0.647      -0.009       0.015
sector_sector 53                     0.0478      0.006      7.916      0.000       0.036       0.060
sector_sector 54                     0.0471      0.008      6.222      0.000       0.032       0.062
sector_sector 55                     0.0129      0.006      2.342      0.019       0.002       0.024
sector_sector 56                     0.0074      0.010      0.737      0.461      -0.012       0.027
sector_sector 57                     0.0253      0.007      3.492      0.000       0.011       0.040
sector_sector 58                     0.0240      0.005      4.798      0.000       0.014       0.034
sector_sector 59                     0.0312      0.005      6.066      0.000       0.021       0.041
sector_sector 6                     -0.0181      0.006     -3.187      0.001      -0.029      -0.007
sector_sector 60                     0.0256      0.006      4.126      0.000       0.013       0.038
sector_sector 61                     0.0331      0.009      3.696      0.000       0.016       0.051
sector_sector 62                     0.0432      0.006      6.830      0.000       0.031       0.056
sector_sector 63                     0.0304      0.006      5.025      0.000       0.019       0.042
sector_sector 63a                    0.0221      0.006      3.586      0.000       0.010       0.034
sector_sector 65                     0.0698      0.012      5.607      0.000       0.045       0.094
sector_sector 66                     0.0541      0.009      5.983      0.000       0.036       0.072
sector_sector 67                     0.0410      0.010      4.288      0.000       0.022       0.060
sector_sector 67a                    0.0047      0.007      0.684      0.494      -0.009       0.018
sector_sector 68                     0.0060      0.008      0.755      0.450      -0.010       0.022
sector_sector 69                     0.0087      0.013      0.675      0.500      -0.017       0.034
sector_sector 7                     -0.0120      0.009     -1.405      0.160      -0.029       0.005
sector_sector 70                     0.0100      0.010      1.028      0.304      -0.009       0.029
sector_sector 70a                    0.0130      0.010      1.285      0.199      -0.007       0.033
sector_sector 71                    -0.0047      0.008     -0.609      0.543      -0.020       0.010
sector_sector 72                     0.0320      0.008      4.071      0.000       0.017       0.047
sector_sector 73                    -0.0011      0.004     -0.260      0.795      -0.009       0.007
sector_sector 74                     0.0174      0.007      2.645      0.008       0.005       0.030
sector_sector 76                    -0.0010      0.006     -0.163      0.871      -0.013       0.011
sector_sector 77                     0.0003      0.008      0.043      0.966      -0.015       0.015
sector_sector 78                    -0.0052      0.006     -0.827      0.408      -0.018       0.007
sector_sector 79                     0.0088      0.012      0.745      0.456      -0.014       0.032
sector_sector 8                     -0.0140      0.005     -2.771      0.006      -0.024      -0.004
sector_sector 80                     0.0009      0.005      0.196      0.845      -0.008       0.010
sector_sector 81                     0.0143      0.013      1.147      0.252      -0.010       0.039
sector_sector 82                    -0.0010      0.009     -0.107      0.915      -0.019       0.017
sector_sector 82a                    0.0071      0.007      1.064      0.287      -0.006       0.020
sector_sector 83                    -0.0042      0.011     -0.373      0.709      -0.026       0.018
sector_sector 84                    -0.0150      0.010     -1.543      0.123      -0.034       0.004
sector_sector 85                     0.0063      0.014      0.458      0.647      -0.021       0.033
sector_sector 86                    -0.0070      0.011     -0.655      0.513      -0.028       0.014
sector_sector 88                    -0.0009      0.004     -0.210      0.834      -0.009       0.007
sector_sector 88a                    0.0041      0.007      0.583      0.560      -0.010       0.018
sector_sector 89                    -0.0032      0.010     -0.307      0.759      -0.023       0.017
sector_sector 9                     -0.0170      0.007     -2.389      0.017      -0.031      -0.003
sector_sector 90                    -0.0159      0.013     -1.263      0.207      -0.041       0.009
sector_sector 91                    -0.0020      0.006     -0.310      0.757      -0.015       0.011
sector_sector 92                    -0.0355      0.013     -2.677      0.007      -0.061      -0.009
sector_sector 93                    -0.0063      0.005     -1.185      0.236      -0.017       0.004
sector_sector 95                    -0.0319      0.010     -3.126      0.002      -0.052      -0.012
sector_sector 99                    -0.0112      0.009     -1.229      0.219      -0.029       0.007
sector_sohna road                   -0.0404      0.017     -2.442      0.015      -0.073      -0.008
agePossession_old                   -0.0111      0.005     -2.158      0.031      -0.021      -0.001
agePossession_under construction     0.0104      0.004      2.463      0.014       0.002       0.019
==============================================================================
Omnibus:                      615.444   Durbin-Watson:                   1.933
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5814.455
Skew:                          -0.538   Prob(JB):                         0.00
Kurtosis:                       9.173   Cond. No.                         35.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [130]:
y_log.std()

0.5579613263072782

In [131]:
import pickle

In [132]:
# with open('coef_df.pkl', 'wb') as file:
#     pickle.dump(coef_df, file)