In [13]:
import pandas as pd
import numpy as np

In [14]:
# Display all the columns and rows
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)

In [15]:
# Importing 2 datasets to merge (Flats and Independent houses data)
flats = pd.read_csv('../../Data_Scraping/Data/Gurgaon/Flats/flats_cleaned.csv')
house = pd.read_csv('../../Data_Scraping/Data/Gurgaon/Independent_House/ind_house_cleaned.csv')

In [16]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964 entries, 0 to 963
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    964 non-null    object
 1   property_type    964 non-null    object
 2   society          964 non-null    object
 3   price            945 non-null    float64
 4   price_per_sqft   945 non-null    float64
 5   area             945 non-null    float64
 6   areaWithType     964 non-null    object
 7   bedRoom          964 non-null    int64
 8   bathroom         964 non-null    int64
 9   balcony          964 non-null    object
 10  additionalRoom   964 non-null    object
 11  address          959 non-null    object
 12  floorNum         945 non-null    float64
 13  facing           661 non-null    object
 14  agePossession    964 non-null    object
 15  nearbyLocations  848 non-null    object
 16  description      964 non-null    object
 17  furnishDetails   729 non-null    object
 18  features         662 non-null    object
 19  rating           843 non-null    object
dtypes: float64(4), int64(2), object(14)
memory usage: 150.8+ KB

In [17]:
house.shape

(964, 20)

In [18]:
# Concat both datasets
df = pd.concat([flats, house], ignore_index=True)

In [19]:
df.shape

(3961, 20)

In [20]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
3073,4 Bedroom House for sale in Sector 109 Gurgaon,house,international city by sobha phase 1,5.70,10556.0,5400.0,Plot area 600(501.68 sq.m.),4,5,3+,"study room,pooja room,servant room,store room","1231231, Sector 109 Gurgaon, Gurgaon, Haryana",3.0,East,1 to 5 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...",Sobha international city is a project by sobha...,"['8 Wardrobe', '11 Light', '1 Modular Kitchen'...","['Water purifier', 'Centrally Air Conditioned'...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
2123,3 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,2.50,16139.0,1549.0,Built Up area: 1549 (143.91 sq.m.),3,3,1,not available,"Sector 61, Sector 61 Gurgaon, Gurgaon, Haryana",1.0,East,undefined,"['Sector 55-56 Metro station', 'Bestech Centra...",Best in class property available at sector 61 ...,NaN,NaN,NaN
997,3 BHK Flat in Sector 81 Gurgaon,flat,bestech park view grand spa,2.25,8458.0,2660.0,Super Built up area 2660(247.12 sq.m.)Built Up...,3,4,3+,"servant room,study room,store room","Sector 81 Gurgaon, Gurgaon, Haryana",8.0,West,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, IMT Manesar', 'Dwa...",Check out this 3 bhk apartment for sale in bes...,"['5 Wardrobe', '9 Fan', '1 Exhaust Fan', '4 Ge...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Green Area5 out of 5', 'Construction5 out of..."
1798,3 BHK Flat in Sector 69 Gurgaon,flat,tulip violet,1.40,8840.0,1584.0,Super Built up area 1578(146.6 sq.m.),3,3,2,not available,"202, Sector 69 Gurgaon, Gurgaon, Haryana",1.0,North-East,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...",This lovely 3 bhk apartment/flat in sector 69 ...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4 out of..."
256,3 BHK Flat in Sector 83 Gurgaon,flat,mapsko paradise,0.95,6300.0,1508.0,Carpet area: 1340 (124.49 sq.m.),3,3,3,not available,"Sector 83 Gurgaon, Gurgaon, Haryana",1.0,NaN,5 to 10 Year Old,"['Reliance MART, Iris Broadway', 'NH â€“ 8', 'Ci...",We are the proud owners of this 3 bhk apartmen...,NaN,NaN,"['Green Area5 out of 5', 'Amenities5 out of 5'..."

In [21]:
# Sampling the whole data
df = df.sample(df.shape[0], ignore_index=True)

In [24]:
df.to_csv('../Data/gurgaon_properties.csv')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB